.chat-main
  .group-info
    .group-info__left-content
      %p.group-info__left-content--title
        = @group.name
      %p.group-info__left-content--message
        グループメンバー出したいけどわからんかった！！
    .group-info__right-content
      = link_to edit_group_path(@group), method: :get do
        Edit
        
  .message-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__box
        .form__box--left-content
          = f.text_field :content, class: "form__box--left-content--message", placeholder: "type a message"
          = f.label :image, class: "form__box--left-content--image" do
            = icon('far', 'image')
            = f.file_field :image, class:"form__box--left-content--image--file"
        = f.submit 'Send', class: "form__box--right-content"