.side-bar
  .user-name
    .user-name__top-item
      .user-name__top-item--name
        = current_user.name
      %ul.user-name__top-item__icons
        %li.user-name__top-item__icons--left-icon
          = link_to new_group_path do
            = icon('fas','edit')
        %li.user-name__top-item__icons--right-icon
          = link_to "/users/#{current_user.id}/edit" do
            = icon('fas', 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group-list__box
        =link_to group_messages_path(group) do
          %p.group-list__box--group-name
            = group.name
          %p.group-list__box--message
            = group.show_last_message